extend ./BASE

block title
	| Twitterと連携する

block content
	h1 Twitterと連携する

	p 設定 -> Twitter から、お使いのMisskeyアカウントとお使いのTwitterアカウントを関連付けることができます。
	p アカウントの関連付けを行うと、プロフィールにTwitterアカウントへのリンクが表示されたりなどします。
	p
		| MisskeyがあなたのTwitterアカウントでツイートしたり誰かをフォローしたりなどといったことは一切行いませんので、ご安心ください。(Misskeyはそのような権限を取得しないので、行おうと思っても行えません)
		br
		| このことに関しては、Twitterのアプリケーション認証フォームで詳細を確認することができます。また、いつでも連携を取り消すことができます。
