extend ./BASE

block title
	| プライバシーポリシー

block content
	h1 プライバシーポリシー

	p Misskeyはユーザーの了解を得た上でメールアドレスを設定することがありますが、この情報をみだりに公開することはありません。ただし、法的強制力のある請求の場合はこの限りではありません。
	p プライバシーポリシーは予告なく変更される可能性があります。
