# PATH                                          OWNERS
/.autogen/                                      @acid-chicken
/.circleci/                                     @syuilo @acid-chicken
/.config/                                       @syuilo @AyaMorisawa @mei23 @acid-chicken @rinsuki
# /.config/mongo_initdb_example.js              @khws4v1
/.github/                                       @syuilo @AyaMorisawa @acid-chicken
/.vscode/                                       @acid-chicken
/assets/                                        @syuilo # @tamaina
/cli/                                           @syuilo
/docs/                                          @syuilo
/docs/*.en.md                                   @AyaMorisawa # @skid9000
# /docs/*.fr.md                                 @BoFFire
# /docs/docker.*.md                             @khws4v1
/locales/                                       @syuilo
/src/                                           @syuilo @AyaMorisawa @mei23 @acid-chicken @rinsuki
# /src/crypto_key.cc                            @akihikodaki
# /src/crypto_key.d.ts                          @akihikodaki
/.dockerignore                                  @syuilo # @khws4v1
/.editorconfig                                  @syuilo @AyaMorisawa
/.eslintrc                                      @syuilo
/.gitattributes                                 @syuilo
/.gitignore                                     @syuilo
/.npmrc                                         @syuilo
/.vsls.json                                     @AyaMorisawa
/CHANGELOG.md                                   @syuilo
/CODE_OF_CONDUCT.md                             @syuilo
/CONTRIBUTING.md                                @syuilo
/Dockerfile                                     @syuilo @AyaMorisawa @acid-chicken # @khws4v1
/LICENSE                                        @syuilo
/README.md                                      @syuilo @AyaMorisawa @acid-chicken # @nikhiljha
# /binding.gyp                                  @akihikodaki
/crowdin.yml                                    @syuilo
# /docker-compose.yml                           @khws4v1
/gulpfile.ts                                    @syuilo @AyaMorisawa
/jsconfig.json                                  @syuilo @AyaMorisawa
/package.json                                   @syuilo @AyaMorisawa
/tsconfig.json                                  @syuilo @AyaMorisawa
/tslint.json                                    @syuilo @AyaMorisawa
/webpack.config.ts                              @syuilo @AyaMorisawa
