**/.git

.autogen
.github
.travis
.vscode
.config
Dockerfile
build/
built/
db/
compose.yml
docker-compose.yml
node_modules/
packages/*/node_modules
redis/
files/
.pnpm-store

.idea/
packages/*/.vscode/
packages/backend/test/compose.yml
packages/backend/test/docker-compose.yml
