.autogen
.github
.travis
.vscode
.config
Dockerfile
build/
built/
db/
.devcontainer/compose.yml
node_modules/
packages/*/node_modules
redis/
files/
fluent-emojis/
.pnp.*

# .yarn関連
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.pnpm-store

.idea/
packages/*/.vscode/
packages/backend/test/compose.yml
