# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
indent_style = tab
indent_size = 2
end_of_line = crlf
charset = utf-8
insert_final_newline = true

[*.json]
indent_style = space
