{
	"parserOptions": {
		"parser": "typescript-eslint-parser"
	},
	"extends": [
		"eslint:recommended",
		"plugin:vue/recommended"
	],
	"rules": {
		"vue/require-v-for-key": false,
		"vue/max-attributes-per-line": false,
		"vue/html-indent": false,
		"vue/html-self-closing": false,
		"vue/no-unused-vars": false,
		"vue/attributes-order": false,
		"vue/require-prop-types": false,
		"vue/require-default-prop": false,
		"no-console": 0,
		"no-unused-vars": 0,
		"no-empty": 0
	},
	"globals": {
		"ENV": true,
		"VERSION": true,
		"API": true
	}
}
