html {
	background: #222;
}
main {
	background: #333;
	border-radius: 10px;
}
#tl > div {
	padding: 16px;
	border-bottom: 1px solid #c3c3c3;
}
#tl > div > header {
	font-weight: 700;
}

* {
	font-family: BIZ UDGothic, Roboto, HelveticaNeue, Arial, sans-serif;
}
#misskey_app {
	display: none !important;
}
body,
html {
	background-color: #222;
	color: #dfddcc;
	justify-content: center;
	margin: auto;
	padding: 10px;
	text-align: center;
}
button {
	border-radius:999px;
	padding:0 40px;
	margin-top: 1rem;
	border:none;
	cursor:pointer;
	margin-bottom:12px;
	background:linear-gradient(90deg,#86b300,#4ab300);
	line-height:50px;
	color:#222;
	font-weight:700;
	font-size:20px;
 }
button:hover {
	background: rgb(153, 204, 0);
}
a {
	color: rgb(134, 179, 0);
	text-decoration: none;
}
p,
li {
	font-size: 16px;
}

h1 {
	font-size: 32px;
}
code {
	font-family: Fira, FiraCode, monospace;
}
#text {
	background-color: #444;
	border: solid #aaa;
	border-radius: 10px;
	color: #dfddcc;
	margin-top: 3rem;
	width: 20rem;
	height: 5rem;
	padding: 0.5rem;
}

#text:focus {
	border: solid #eee;
}

@media screen and (max-width: 500px) {
  #text {
    width: 80%
  }
}
