html {
	background-color: var(--bg);
	color: var(--fg);
}

#splash {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	cursor: wait;
	background-color: var(--bg);
	opacity: 1;
	transition: opacity 0.5s ease;
}

#splashIcon {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 64px;
	height: 64px;
	pointer-events: none;
}

#splashSpinner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	display: inline-block;
	width: 28px;
	height: 28px;
	transform: translateY(70px);
}

#splashSpinner:before,
#splashSpinner:after {
	content: " ";
	display: block;
	box-sizing: border-box;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	border: solid 4px;
}

#splashSpinner:before {
	border-color: currentColor;
	opacity: 0.3;
}

#splashSpinner:after {
	position: absolute;
	top: 0;
	border-color: currentColor transparent transparent transparent;
	animation: splashSpinner 0.5s linear infinite;
}

@keyframes splashSpinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
