@import "../app"
@import "../reset"
@import "../../../../node_modules/cropperjs/dist/cropper.css"

@import "./ui"

*::input-placeholder
	color #D8CBC5

*
	&:focus
		outline none

	&::scrollbar
		width 5px
		background transparent

		&:horizontal
			height 5px

	&::scrollbar-button
		width 0
		height 0
		background rgba(0, 0, 0, 0.2)

	&::scrollbar-piece
		background transparent

		&:start
			background transparent

	&::scrollbar-thumb
		background rgba(0, 0, 0, 0.2)

		&:hover
			background rgba(0, 0, 0, 0.4)

		&:active
			background $theme-color

	&::scrollbar-corner
		background rgba(0, 0, 0, 0.2)

html
	background #f7f7f7

	// ↓ workaround of https://github.com/riot/riot/issues/2134
	&[data-page='entrance']
		#wait
			right auto
			left 15px
