doctype html

html
	script.
		localStorage.removeItem('locale');

		try {
			navigator.serviceWorker.controller.postMessage('clear');

			navigator.serviceWorker.getRegistrations().then(registrations => {
				return Promise.all(registrations.map(registration => registration.unregister()));
			}).then(() => {
				setTimeout(() => {
					location = '/';
				}, 5000)
			});
		} catch (e) {
			console.error(e);
			setTimeout(() => {
				location = '/';
			}, 10000)
		}
