doctype html

html
	#msg
	script.
		const msg = document.getElementById('msg');

		try {
			localStorage.clear();
			message('localStorage cleared');

			const delidb = indexedDB.deleteDatabase('MisskeyClient');
			delidb.onsuccess = () => message('indexedDB cleared');

			navigator.serviceWorker.controller.postMessage('clear');
			navigator.serviceWorker.getRegistrations()
				.then(registrations => {
					return Promise.all(registrations.map(registration => registration.unregister()));
				})
				.then(() => {
					message('Success Flush! It will move.');
					setTimeout(() => {
						location = '/';
					}, 5000);
				})
				.catch(e => { throw Error(e) });
		} catch (e) {
			console.error(e);
			message(`${e}¥n¥nFlush Failed. It will move.`);
			setTimeout(() => {
				location = '/';
			}, 10000)
		}

		function message(text) {
			msg.insertAdjacentHTML('beforeend', `<p>[${(new Date()).toString()}] ${text.replace(/¥n/g,'<br>')}</p>`)
		}
