@import "../style"

#url
	padding 8px 12px 8px 8px
	font-family Consolas, 'Courier New', Courier, Monaco, monospace
	color #fff
	background #222e40
	border-radius 4px

	> .method
		display inline-block
		margin 0 8px 0 0
		padding 0 6px
		color #f4fcff
		background #17afc7
		border-radius 4px
		user-select none
		pointer-events none

	> .host
		opacity 0.7
