extends ../../layout.pug
include ../mixins

block title
	| #{endpoint} | Misskey API

block meta
	link(rel="stylesheet" href="/assets/docs/api/endpoints/style.css")

block main
	h1= endpoint

	p#url= url

	p#desc: +i18n(desc)

	section
		h2 Params
		+propTable(params)

		if paramDefs
			each paramDef in paramDefs
				section(id= paramDef.name)
					h3= paramDef.name
					+propTable(paramDef.params)

	section
		h2 Response
		+propTable(res)

