extend ../../BASE

block title
	| Entity: Post

block content
	h1 Post
	p 投稿を表します。

	section
		h2 Properties
		table.entity
			thead: tr
				td Name
				td Type
				td Description
			tbody
				tr.nullable.optional
					td app
					td: a(href='./app', target='_blank') App
					td 投稿したアプリ
				tr.nullable
					td app_id
					td ID
					td 投稿したアプリのID
				tr
					td created_at
					td Date
					td 投稿日時
				tr
					td id
					td ID
					td 投稿ID
				tr.optional
					td is_liked
					td Boolean
					td いいね したかどうか
				tr
					td likes_count
					td Number
					td いいね数
				tr.nullable.optional
					td media_ids
					td ID[]
					td 添付されたメディアのIDの配列
				tr.nullable.optional
					td media
					td: a(href='./drive-file', target='_blank') DriveFile[]
					td 添付されたメディアの配列
				tr
					td replies_count
					td Number
					td 返信数
				tr.optional
					td reply
					td: a(href='./post', target='_blank') Post
					td 返信先の投稿
				tr.nullable
					td reply_id
					td ID
					td 返信先の投稿のID
				tr.optional
					td repost
					td: a(href='./post', target='_blank') Post
					td Repostした投稿
				tr
					td repost_count
					td Number
					td Repostされた数
				tr.nullable
					td repost_id
					td ID
					td Repostした投稿のID
				tr.nullable
					td text
					td String
					td 本文
				tr.optional
					td user
					td: a(href='./user', target='_blank') User
					td 投稿者
				tr
					td user_id
					td ID
					td 投稿者のID

	section
		h2 Example
		pre: code.
			{
				"created_at": "2016-12-10T00:28:50.114Z",
				"media_ids": null,
				"reply_id": "584a16b15860fc52320137e3",
				"repost_id": null,
				"text": "小日向美穂だぞ！",
				"user_id": "5848bf7764e572683f4402f8",
				"app_id": null,
				"likes_count": 1,
				"replies_count": 1,
				"id": "584b4c42d8e5186f8f755d0c",
				"user": {
					"birthday": null,
					"created_at": "2016-12-08T02:03:35.332Z",
					"bio": "女が嫌いです、女性は好きです",
					"followers_count": 11,
					"following_count": 11,
					"links": null,
					"location": "",
					"name": "女が嫌い",
					"posts_count": 26,
					"likes_count": 2,
					"liked_count": 20,
					"username": "onnnagakirai",
					"id": "5848bf7764e572683f4402f8",
					"avatar_url": "https://file.himasaku.net/5848c0ec64e572683f4402fc",
					"banner_url": "https://file.himasaku.net/5848c12864e572683f4402fd",
					"is_following": true,
					"is_followed": true
				},
				"reply": {
					"created_at": "2016-12-09T02:28:01.563Z",
					"media_ids": null,
					"reply_id": "5849d35e547e4249be329884",
					"repost_id": null,
					"text": "アイコン小日向美穂？",
					"user_id": "57d01a501fdf2d07be417afe",
					"app_id": null,
					"replies_count": 1,
					"id": "584a16b15860fc52320137e3",
					"user": {
						"birthday": null,
						"created_at": "2016-09-07T13:46:56.605Z",
						"bio": "どうすれば君だけのために生きていけるの",
						"followers_count": 51,
						"following_count": 97,
						"links": null,
						"location": "川崎",
						"name": "きな子",
						"posts_count": 4813,
						"username": "syuilo",
						"likes_count": 3141,
						"liked_count": 750,
						"id": "57d01a501fdf2d07be417afe",
						"avatar_url": "https://file.himasaku.net/583ddc6e64df272771f74c1a",
						"banner_url": "https://file.himasaku.net/584bfc82d8e5186f8f755ec5"
					}
				},
				"is_liked": true
			}
