extends ../../layout.pug
include ../mixins

block meta
	link(rel="stylesheet" href="/assets/api/entities/style.css")

block main
	h1= name

	p#desc= desc[lang] || desc['ja']

	section
		h2 %i18n:docs.api.entities.properties%
		+propTable(props)

		if propDefs
			each propDef in propDefs
				section(id= propDef.name)
					h3= propDef.name
					+propTable(propDef.params)
