extends ../base

block head
	meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
	link(rel='stylesheet', href='/_/resources/auth/style.css')
	script(src='/_/resources/auth/script.js', async, defer)
