@import "../style"

body
	margin 0
	color #34495e

main
	padding 32px
	width 100%
	max-width 700px

footer
	padding:32px 0 0 0
	margin 32px 0 0 0
	border-top solid 1px #eee

	.copyright
		margin 16px 0 0 0
		color #aaa

section
	margin 32px 0

h1
	margin 0 0 24px 0
	padding 16px 0
	font-size 1.5em
	border-bottom solid 2px #eee

h2
	margin 0 0 24px 0
	padding 0 0 16px 0
	font-size 1.4em
	border-bottom solid 1px #eee

h3
	margin 0
	padding 0
	font-size 1.25em

h4
	margin 0

p
	margin 1em 0
	line-height 1.6em

table
	width 100%
	border-spacing 0
	border-collapse collapse

	thead
		font-weight bold
		border-bottom solid 2px #eee

		tr
			th
				text-align left

	tbody
		tr
			border-bottom dashed 1px #eee

			&:nth-child(odd)
				background #fbfbfb

	th, td
		padding 8px 16px

.i18n:not(.ja)
	display none
