.ui.info
	display block
	margin 1em 0
	padding 0 1em
	font-size 90%
	color rgba(#000, 0.87)
	background #f8f8f9
	border-radius 4px
	overflow hidden

	> p
		opacity 0.8

		> [data-fa]:first-child
			margin-right 0.25em

	&.warn
		color #573a08
		background #FFFAF3
