extends ../../../base

block head
	link(rel='stylesheet', href='/_/resources/common/pages/about/style.css')
	script(src='/_/resources/common/pages/about/script.js', async, defer)

block body
	article
		header
			h1
				block header
		div.body
			block content
