extend ../../BASE

block title
	| Entity: User

block content
	h1 User
	p ユーザーを表します。

	section
		h2 Properties
		table.entity
			thead: tr
				td Name
				td Type
				td Description
			tbody
				tr.nullable.optional
					td avatar_id
					td ID
					td アバターに設定しているドライブのファイルのID
				tr.nullable
					td avatar_url
					td String
					td アバターURL
				tr.nullable.optional
					td banner_id
					td ID
					td バナーに設定しているドライブのファイルのID
				tr.nullable
					td banner_url
					td String
					td バナーURL
				tr.nullable
					td bio
					td String
					td プロフィール
				tr.nullable
					td birthday
					td String
					td 誕生日(YYYY-MM-DD)
				tr
					td created_at
					td Date
					td アカウント作成日時
				tr.optional
					td drive_capacity
					td Number
					td ドライブの最大容量(byte単位)
				tr
					td followers_count
					td Number
					td フォロワー数
				tr
					td following_count
					td Number
					td フォロー数
				tr
					td id
					td ID
					td ユーザーID
				tr.optional
					td is_bot
					td Boolean
					td botかどうか
				tr.optional
					td is_followed
					td Boolean
					td フォローされているか
				tr.optional
					td is_following
					td Boolean
					td フォローしているか
				tr
					td liked_count
					td Number
					td 投稿にいいねされた数
				tr
					td likes_count
					td Number
					td 投稿にいいねした数
				tr.nullable
					td location
					td String
					td 住処
				tr
					td name
					td String
					td ニックネーム
				tr
					td posts_count
					td Number
					td 投稿数
				tr
					td username
					td String
					td ユーザー名

	section
		h2 Example
		pre: code.
			{
				"avatar_id": "583ddc6e64df272771f74c1a",
				"avatar_url": "https://file.himasaku.net/583ddc6e64df272771f74c1a",
				"banner_id": "584bfc82d8e5186f8f755ec5",
				"banner_url": "https://file.himasaku.net/584bfc82d8e5186f8f755ec5",
				"bio": "どうすれば君だけのために生きていけるの",
				"birthday": "1997-12-06",
				"created_at": "2016-09-07T13:46:56.605Z",
				"drive_capacity": 1073741824,
				"email": null,
				"followers_count": 51,
				"following_count": 97,
				"id": "57d01a501fdf2d07be417afe",
				"liked_count": 750,
				"likes_count": 3130,
				"links": null,
				"location": "川崎",
				"name": "きな子",
				"posts_count": 4811,
				"username": "syuilo"
			}
