h1 検索

p 投稿を検索することができます。
p
	| キーワードを半角スペースで区切ると、and検索になります。
	| 例えば、「git コミット」と検索すると、「gitで編集したファイルの特定の行だけコミットする方法がわからない」などがマッチします。

section
	h2 キーワードの除外
	p キーワードの前に「-」(ハイフン)をプリフィクスすると、そのキーワードを含まない投稿に限定します。
	p 例えば、「gitというキーワードを含むが、コミットというキーワードは含まない投稿」を検索したい場合、クエリは以下のようになります:
	code git -コミット

section
	h2 完全一致
	p テキストを「"""」で囲むと、そのテキストと完全に一致する投稿を検索します。
	p 例えば、「"""にゃーん"""」と検索すると、「にゃーん」という投稿のみがヒットし、「にゃーん…」という投稿はヒットしません。

section
	h2 タグ
	p キーワードの前に「#」(シャープ)をプリフィクスすると、そのキーワードと一致するタグを持つ投稿に限定します。

section
	h2 オプション
	p
		| オプションを使用して、より高度な検索を行えます。
		| オプションを指定するには、「オプション名:値」という形式でクエリに含めます。
	p 利用可能なオプション一覧です:

	table
		thead
			tr
				th 名前
				th 説明
		tbody
			tr
				td user
				td
					| 指定されたユーザー名のユーザーの投稿に限定します。
					| 「,」(カンマ)で区切って、複数ユーザーを指定することもできます。
					br
					| 例えば、
					code user:himawari,sakurako
					| と検索すると「@himawariまたは@sakurakoの投稿」だけに限定します。
					| (つまりユーザーのホワイトリストです)
			tr
				td exclude_user
				td
					| 指定されたユーザー名のユーザーの投稿を除外します。
					| 「,」(カンマ)で区切って、複数ユーザーを指定することもできます。
					br
					| 例えば、
					code exclude_user:akari,chinatsu
					| と検索すると「@akariまたは@chinatsu以外の投稿」に限定します。
					| (つまりユーザーのブラックリストです)
			tr
				td follow
				td
					| true ... フォローしているユーザーに限定。
					br
					| false ... フォローしていないユーザーに限定。
					br
					| null ... 特に限定しない(デフォルト)
			tr
				td mute
				td
					| mute_all ... ミュートしているユーザーの投稿とその投稿に対する返信やRepostを除外する(デフォルト)
					br
					| mute_related ... ミュートしているユーザーの投稿に対する返信やRepostだけ除外する
					br
					| mute_direct ... ミュートしているユーザーの投稿だけ除外する
					br
					| disabled ... ミュートしているユーザーの投稿とその投稿に対する返信やRepostも含める
					br
					| direct_only ... ミュートしているユーザーの投稿だけに限定
					br
					| related_only ... ミュートしているユーザーの投稿に対する返信やRepostだけに限定
					br
					| all_only ... ミュートしているユーザーの投稿とその投稿に対する返信やRepostに限定
			tr
				td reply
				td
					| true ... 返信に限定。
					br
					| false ... 返信でない投稿に限定。
					br
					| null ... 特に限定しない(デフォルト)
			tr
				td repost
				td
					| true ... Repostに限定。
					br
					| false ... Repostでない投稿に限定。
					br
					| null ... 特に限定しない(デフォルト)
			tr
				td media
				td
					| true ... メディアが添付されている投稿に限定。
					br
					| false ... メディアが添付されていない投稿に限定。
					br
					| null ... 特に限定しない(デフォルト)
			tr
				td poll
				td
					| true ... 投票が添付されている投稿に限定。
					br
					| false ... 投票が添付されていない投稿に限定。
					br
					| null ... 特に限定しない(デフォルト)
			tr
				td until
				td 上限の日時。(YYYY-MM-DD)
			tr
				td since
				td 下限の日時。(YYYY-MM-DD)

	p 例えば、「@syuiloの2017年11月1日から2017年12月31日までの『Misskey』というテキストを含む返信ではない投稿」を検索したい場合、クエリは以下のようになります:
	code user:syuilo since:2017-11-01 until:2017-12-31 reply:false Misskey
