@import "../app"
@import "../reset"

#wait
	top auto
	bottom 15px
	left 15px

html
	height 100%
	background var(--bg)

main
	width 100%
	max-width 680px
	margin 0 auto
	padding 8px

	@media (min-width 500px)
		padding 16px

	@media (min-width 600px)
		padding 32px
