@import "../app"
@import "../reset"

#wait
	top auto
	bottom 15px
	left 15px

html
	height 100%
	background #ececed !important

	&[data-darkmode]
		background #191B22 !important

body
	display flex
	flex-direction column
	min-height 100%

.modal-backdrop
	z-index 10000 !important

.modal-content-wrapper
	z-index 10001 !important

.modal-content
	padding 0 !important
	background-color transparent !important
