@import "../app"
@import "../reset"

#wait
	top auto
	bottom 15px
	left 15px

html
	height 100%
	background #ececed !important

	// for md
	transition none !important

	&[data-darkmode]
		background #191B22 !important

body
	display flex
	flex-direction column
	min-height 100%
