@charset "utf-8";

/*
 * SPDX-FileCopyrightText: syuilo and misskey-project
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

:root {
	--radius: 12px;
	--marginFull: 14px;
	--marginHalf: 10px;

	--margin: var(--marginFull);
}

html {
	background-color: transparent;
	color-scheme: light dark;
	color: var(--fg);
	accent-color: var(--accent);
	overflow: clip;
	overflow-wrap: break-word;
	font-family: 'Hiragino Maru Gothic Pro', "BIZ UDGothic", Roboto, HelveticaNeue, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.35;
	text-size-adjust: 100%;
	tab-size: 2;
	-webkit-text-size-adjust: 100%;

	&, * {
		scrollbar-color: var(--scrollbarHandle) transparent;
		scrollbar-width: thin;

		&::-webkit-scrollbar {
			width: 6px;
			height: 6px;
		}

		&::-webkit-scrollbar-track {
			background: inherit;
		}

		&::-webkit-scrollbar-thumb {
			background: var(--scrollbarHandle);

			&:hover {
				background: var(--scrollbarHandleHover);
			}

			&:active {
				background: var(--accent);
			}
		}
	}
}

html, body {
	height: 100%;
	touch-action: manipulation;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

#misskey_app {
	height: 100%;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;

	&:focus-visible {
		outline-offset: 2px;
	}

	&:hover {
		text-decoration: underline;
	}

	&[target="_blank"] {
		-webkit-touch-callout: default;
	}
}

rt {
	white-space: initial;
}

:focus-visible {
	outline: var(--focus) solid 2px;
	outline-offset: -2px;

	&:hover {
		text-decoration: none;
	}
}

.ti {
	width: 1.28em;
	vertical-align: -12%;
	line-height: 1em;

	&::before {
		font-size: 128%;
	}
}

.ti-fw {
	display: inline-block;
	text-align: center;
}

._nowrap {
	white-space: pre !important;
	word-wrap: normal !important; // https://codeday.me/jp/qa/20190424/690106.html
	overflow: hidden;
	text-overflow: ellipsis;
}

._button {
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	appearance: none;
	display: inline-block;
	padding: 0;
	margin: 0; // for Safari
	background: none;
	border: none;
	cursor: pointer;
	color: inherit;
	touch-action: manipulation;
	tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
	font-size: 1em;
	font-family: inherit;
	line-height: inherit;
	max-width: 100%;

	&:disabled {
		opacity: 0.5;
		cursor: default;
	}
}

._buttonGray {
	@extend ._button;
	background: var(--buttonBg);

	&:not(:disabled):hover {
		background: var(--buttonHoverBg);
	}
}

._buttonPrimary {
	@extend ._button;
	color: var(--fgOnAccent);
	background: var(--accent);

	&:not(:disabled):hover {
		background: hsl(from var(--accent) h s calc(l + 5));
	}

	&:not(:disabled):active {
		background: hsl(from var(--accent) h s calc(l - 5));
	}
}

._buttonGradate {
	@extend ._buttonPrimary;
	color: var(--fgOnAccent);
	background: linear-gradient(90deg, var(--buttonGradateA), var(--buttonGradateB));

	&:not(:disabled):hover {
		background: linear-gradient(90deg, hsl(from var(--accent) h s calc(l + 5)), hsl(from var(--accent) h s calc(l + 5)));
	}

	&:not(:disabled):active {
		background: linear-gradient(90deg, hsl(from var(--accent) h s calc(l + 5)), hsl(from var(--accent) h s calc(l + 5)));
	}
}

._buttonRounded {
	font-size: 0.95em;
	padding: 0.5em 1em;
	min-width: 100px;
	border-radius: 99rem;

	&._buttonPrimary,
	&._buttonGradate {
		font-weight: 700;
	}
}

._help {
	color: var(--accent);
	cursor: help;
}

._textButton {
	@extend ._button;
	color: var(--accent);

	&:focus-visible {
		outline-offset: 2px;
	}

	&:not(:disabled):hover {
		text-decoration: underline;
	}
}

._panel {
	background: var(--panel);
	border-radius: var(--radius);
	overflow: clip;
}

._margin {
	margin: var(--margin) 0;
}

._gaps_m {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}

._gaps_s {
	display: flex;
	flex-direction: column;
	gap: 0.75em;
}

._gaps {
	display: flex;
	flex-direction: column;
	gap: var(--margin);
}

._buttons {
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
}

._buttonsCenter {
	@extend ._buttons;

	justify-content: center;
}

._borderButton {
	@extend ._button;
	display: block;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	border: solid 0.5px var(--divider);
	border-radius: var(--radius);

	&:active {
		border-color: var(--accent);
	}
}

._popup {
	background: var(--popup);
	border-radius: var(--radius);
	contain: content;
}

._acrylic {
	background: var(--acrylicPanel);
	-webkit-backdrop-filter: var(--blur, blur(15px));
	backdrop-filter: var(--blur, blur(15px));
}

._fullinfo {
	padding: 64px 32px;
	text-align: center;

	> img {
		vertical-align: bottom;
		height: 128px;
		margin-bottom: 16px;
		border-radius: 16px;
	}
}

._link {
	color: var(--link);
}

._caption {
	font-size: 0.8em;
	opacity: 0.7;
}

._monospace {
	font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace !important;
}
