h1 ミュート

p ユーザーページから、そのユーザーをミュートすることができます。

p ユーザーをミュートすると、そのユーザーに関する次のコンテンツがMisskeyに表示されなくなります:
ul
	li タイムラインや投稿の検索結果内の、そのユーザーの投稿(およびそれらの投稿に対する返信やRenote)
	li そのユーザーからの通知
	li メッセージ履歴一覧内の、そのユーザーとのメッセージ履歴

p ミュートを行ったことは相手に通知されず、ミュートされていることを知ることもできません。

p 設定>ミュート から、自分がミュートしているユーザー一覧を確認することができます。
