._form_panel {
	background: var(--panel);
	border-radius: var(--radius);
}

._form_label {
	font-size: 80%;
	padding: 0 16px 8px 16px;

	&:empty {
		display: none;
	}
}

._form_caption {
	font-size: 80%;
	padding: 8px 16px 0 16px;

	&:empty {
		display: none;
	}
}

._form_item {
	& + ._form_item {
		margin-top: 24px;
	}
}
