._formPanel {
	background: var(--panel);
	border-radius: var(--radius);

	&._formClickable {
		&:hover {
			background: var(--panelHighlight);
		}
	}
}

._formLabel {
	font-size: 80%;
	padding: 0 16px 8px 16px;
	opacity: 0.8;

	&:empty {
		display: none;
	}
}

._formCaption {
	font-size: 80%;
	padding: 8px 16px 0 16px;
	opacity: 0.8;

	&:empty {
		display: none;
	}
}

._formItem {
	& + ._formItem {
		margin-top: 24px;
	}
}
