doctype html

html(lang='ja', dir='ltr')

	head
		meta(charset='utf-8')
		meta(name='application-name', content='Misskey')
		meta(name='theme-color', content=themeColor)
		meta(name='referrer', content='origin')
		meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
		link(rel='stylesheet', href='/resources/style.css')
		title
			block title
			|  | About Misskey

	body
		nav
			ul
				li: a(href='/link-to-twitter') Twitterと連携する
				li
					p API
					ul
						li: a(href='/api/getting-started') Getting Started
						li
							p Entities
							ul
								li: a(href='/api/entities/post') Post
								li: a(href='/api/entities/user') User
						li: a(href='/api/library') ライブラリ
				li: a(href='/tou') 利用規約
				li: a(href='/license') ライセンス

		main
			article
				block content
			footer
				p.contribution
					| 間違いを見つけた、またはドキュメントに貢献したいですか？
					a(href='https://github.com/syuilo/misskey/blob/master/docs/' + path + '.pug', target='_blank') Github 上でこのページを編集する
					|  か、
					a(href='https://github.com/syuilo/misskey/fork', target='_blank') Github からこのサイトを Fork してプルリクエストしましょう！
				p.copyright (c) syuilo 2017
