@charset 'utf-8'

/*
	::selection
		background var(--primary)
		color #fff
*/

*
	position relative
	box-sizing border-box
	background-clip padding-box !important
	tap-highlight-color transparent
	-webkit-tap-highlight-color transparent

html, body
	margin 0
	padding 0
	scroll-behavior smooth
	text-size-adjust 100%
	font-family sans-serif

html.change-theme
	&, *
		transition-property all
		transition-duration 0.5s
		transition-timing-function ease

a
	text-decoration none
	color var(--link)
	cursor pointer

	&:hover
		text-decoration underline

	*
		cursor pointer

@css {
	a {
		tap-highlight-color: var(--linkTapHighlight) !important;
		-webkit-tap-highlight-color: var(--linkTapHighlight) !important;
	}
}
