@charset "utf-8";

:root {
	--radius: 8px;
	--marginFull: 16px;
	--marginHalf: 10px;

	--margin: var(--marginFull);

	@media (max-width: 500px) {
		--margin: var(--marginHalf);
	}
}

* {
	tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
}

html {
	touch-action: manipulation;
	background-color: var(--bg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	color: var(--fg);
	overflow: auto;

	&, * {
		scrollbar-color: var(--scrollbarHandle) var(--panel);
		scrollbar-width: thin;

		&:hover {
			scrollbar-color: var(--scrollbarHandleHover) var(--panel);
		}

		&:active {
			scrollbar-color: var(--accent) var(--panel);
		}

		&::-webkit-scrollbar {
			width: 6px;
			height: 6px;
		}

		&::-webkit-scrollbar-track {
			background: var(--panel);
		}

		&::-webkit-scrollbar-thumb {
			background: var(--scrollbarHandle);

			&:hover {
				background: var(--scrollbarHandleHover);
			}

			&:active {
				background: var(--accent);
			}
		}
	}

	&.f-small {
		font-size: 0.9em;
	}

	&.f-large {
		font-size: 1.1em;
	}

	&.f-veryLarge {
		font-size: 1.2em;
	}
}

html.changing-theme {
	&, * {
		transition: background 1s ease !important;
	}
}

body {
	overflow-wrap: break-word;
}

#ini {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: wait;

	> svg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		width: 64px;
		height: 64px;
		animation: ini 0.6s infinite linear;
		color: var(--accent);
		fill: currentColor;
	}
}

html, body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	text-size-adjust: 100%;
	font-family: Roboto, HelveticaNeue, Arial, sans-serif;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;

	&:hover {
		text-decoration: underline;
	}
}

hr {
	margin: var(--margin) 0 var(--margin) 0;
	border: none;
	height: 1px;
	background: var(--divider);
}

#nprogress {
	pointer-events: none;
	position: absolute;
	z-index: 10000;

	.bar {
		background: var(--accent);
		position: fixed;
		z-index: 10001;
		top: 0;
		left: 0;
		width: 100%;
		height: 2px;
	}

	.peg {
		display: block;
		position: absolute;
		right: 0;
		width: 100px;
		height: 100%;
		box-shadow: 0 0 10px var(--accent), 0 0 5px var(--accent);
		opacity: 1;
		transform: rotate(3deg) translate(0px, -4px);
	}
}

#wait {
	display: block;
	position: fixed;
	z-index: 10000;
	top: 15px;
	right: 15px;

	&:before {
		content: "";
		display: block;
		width: 18px;
		height: 18px;
		box-sizing: border-box;
		border: solid 2px transparent;
		border-top-color: var(--accent);
		border-left-color: var(--accent);
		border-radius: 50%;
		animation: progress-spinner 400ms linear infinite;
	}
}

._noSelect {
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

._ghost {
	&, * {
		@extend ._noSelect;
		pointer-events: none;
	}
}

._modalBg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--modalBg);
	backdrop-filter: var(--modalBgFilter);
}

._shadow {
	box-shadow: 0px 4px 32px var(--shadow) !important;
}

._button {
	appearance: none;
	padding: 0;
	margin: 0; // for Safari
	background: none;
	border: none;
	cursor: pointer;
	color: var(--fg);
	touch-action: manipulation;
	font-size: 1em;

	&, * {
		@extend ._noSelect;
	}

	* {
		pointer-events: none;
	}

	&:focus {
		outline: none;
	}

	&:disabled {
		opacity: 0.5;
		cursor: default;
	}
}

._buttonPrimary {
	@extend ._button;
	color: #fff;
	background: var(--accent);

	&:not(:disabled):hover {
		background: var(--X8);
	}

	&:not(:disabled):active {
		background: var(--X9);
	}
}

._textButton {
	@extend ._button;
	color: var(--accent);

	&:not(:disabled):hover {
		text-decoration: underline;
	}
}

._inputs {
	display: flex;
	margin: 32px 0;

	&:first-child {
		margin-top: 8px;
	}

	&:last-child {
		margin-bottom: 8px;
	}

	> * {
		flex: 1;
		margin: 0 !important;

		&:not(:first-child) {
			margin-left: 8px !important;
		}

		&:not(:last-child) {
			margin-right: 8px !important;
		}
	}
}

._panel {
	position: relative;
	z-index: 1;
	background: var(--panel);
	border-radius: var(--radius);
	box-shadow: 0 0 0 1px var(--panelBorder);
	overflow: hidden;
}

._close_ ._list_ > * {
	border: none;
	border-bottom: solid 1px var(--divider);
	border-radius: 0;
	margin: 0 !important;
}

.__frameButton {
	display: flex;
	width: 100%;
	min-height: 48px;
	align-items: center;
	justify-content: center;
	background: transparent;
}

._frame._button {
	@extend .__frameButton;
}

._frame._buttonPrimary {
	@extend .__frameButton;
	color: var(--accent);
}

._section {
	padding: 32px;

	& + ._section {
		border-top: solid 1px var(--divider);
	}

	@media (max-width: 500px) {
		padding: 16px;
	}

	> ._title, > ._content {
		max-width: 750px;
		margin: 0 auto;
	}

	> ._title {
		margin-bottom: 24px;
		font-size: 1.25em;
		font-weight: bold;
	}

	> ._content + ._content {
		border-top: solid 1px var(--divider);
		margin-top: 16px;
		padding-top: 16px;
	}

	&._fitBottom {
		padding-bottom: 0;
	}
}

._narrow_ ._section {
	padding: 0;

	> ._title {
		padding: 16px;
		font-size: 1em;
	}

	> ._content {
		padding: 16px;
	}

	> ._footer {
		padding: 16px;
	}
}

._frame {
	position: relative;
	z-index: 1;
	overflow: hidden;
	border: solid 1px var(--divider);
	border-radius: var(--radius);
}

._vMargin {
	& + ._vMargin {
		margin-top: var(--margin);
	}
}

._table {
	> ._row {
		display: flex;

		&:not(:last-child) {
			margin-bottom: 16px;

			@media (max-width: 500px) {
				margin-bottom: 8px;
			}
		}

		> ._cell {
			flex: 1;

			> ._label {
				font-size: 80%;
				opacity: 0.7;

				> ._icon {
					margin-right: 4px;
					display: none;
				}
			}
		}
	}
}

._fullinfo {
	padding: 64px 32px;
	text-align: center;

	> img {
		vertical-align: bottom;
		height: 128px;
		margin-bottom: 16px;
		border-radius: 16px;
	}
}

._keyValue {
	display: flex;

	> * {
		flex: 1;
	}
}

._link {
	color: var(--link);
}

._caption {
	font-size: 0.8em;
	opacity: 0.7;
}

._code {
	background: #2d2d2d;
	color: #ccc;
	font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
	font-size: 14px;
	line-height: 1.5;
	padding: 5px;
}

.prism-editor__textarea:focus {
	outline: none;
}

.zoom-enter-active, .zoom-leave-active {
	transition: opacity 0.5s, transform 0.5s !important;
}
.zoom-enter-from, .zoom-leave-to {
	opacity: 0;
	transform: scale(0.9);
}

.zoom-in-top-enter-active,
.zoom-in-top-leave-active {
	opacity: 1;
	transform: scaleY(1);
	transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
	transform-origin: center top;
}
.zoom-in-top-enter-from,
.zoom-in-top-leave-active {
	opacity: 0;
	transform: scaleY(0);
}

@keyframes progress-spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes ini {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes jump {
	0% { transform: translateY(0); }
	25% { transform: translateY(-16px); }
	50% { transform: translateY(0); }
	75% { transform: translateY(-8px); }
	100% { transform: translateY(0); }
}

@keyframes blink {
	0% { opacity: 1; transform: scale(1); }
	30% { opacity: 1; transform: scale(1); }
	90% { opacity: 0; transform: scale(0.5); }
}
