@import "../app"
@import "../reset"

*::input-placeholder
	color #D8CBC5

*:focus
	outline none

html
	height 100%
	background var(--bg)

	&, div, textarea
		scrollbar-width thin

	&, *
		scrollbar-color var(--scrollbarHandle) var(--scrollbarTrack)

		&:hover
			scrollbar-color var(--scrollbarHandleHover) var(--scrollbarTrack)

		&:active
			scrollbar-color var(--primary) var(--scrollbarTrack)

		&::-webkit-scrollbar
			width 6px
			height 6px

		&::-webkit-scrollbar-track
			background var(--scrollbarTrack)

		&::-webkit-scrollbar-thumb
			background var(--scrollbarHandle)

			&:hover
				background var(--scrollbarHandleHover)

			&:active
				background var(--primary)
