/**
 * Boot screen style
 */

@charset 'utf-8';

html {
	font-family: sans-serif;
}

body > noscript {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: #fff;
}
	body > noscript > p {
		display: block;
		margin: 32px;
		font-size: 2em;
		color: #555;
	}

#ini {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	cursor: wait;
}
	#ini > svg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		width: 64px;
		height: 64px;
		animation: ini 0.6s infinite linear;
	}

html[data-darkmode] #ini {
	background: #191b22;
}

@keyframes ini {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
