input
	min-width 0

input:not([type])
input[type='text']
input[type='password']
input[type='search']
input[type='email']
textarea
button
progress
	-webkit-appearance none
	-moz-appearance none
	appearance none
	box-shadow none

textarea
	font-family Roboto, HelveticaNeue, Arial, sans-serif

button
	margin 0
	background transparent
	border none
	cursor pointer
	color inherit

	*
		pointer-events none
		user-select none

	&[disabled]
		cursor default

pre
	overflow auto
	white-space pre
