name: Check Misskey JS version

on:
  push:
    branches:
      - beta
      - io
      - host
    paths:
      - packages/misskey-js/package.json
      - package.json
  pull_request:
    paths:
      - packages/misskey-js/package.json
      - package.json

jobs:
  check-version:
    # ルートの package.json と packages/misskey-js/package.json のバージョンが一致しているかを確認する
    name: Check version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: Check version
        run: |
          if [ "$(jq -r '.version' package.json)" != "$(jq -r '.version' packages/misskey-js/package.json)" ]; then
            echo "Version mismatch!"
            exit 1
          fi
